body {
    display: flex;
    flex-direction: column;
}

header {
    background-image: url('../images/mobile/image-header.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;

    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.dropdown-menu {
    width: 25px;
    height: 25px;
    background: white;
}