@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap');

.images-gallery {
    display: flex;
    flex-wrap: wrap;
}

.image-from-gallery {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 39vh;
    width: 50%;
    margin: 0;
    padding: 0;
}

#image-gallery-milkbottles {
    background-image: url("../images/mobile/image-gallery-milkbottles.jpg");
}

#image-gallery-orange {
    background-image: url("../images/mobile/image-gallery-orange.jpg");
}

#image-gallery-cone {
    background-image: url("../images/mobile/image-gallery-cone.jpg");
}

#image-gallery-sugar-cubes {
    background-image: url("../images/mobile/image-gallery-sugar-cubes.jpg");
}

footer{
    height: 70vh;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background-color: #90d4c5;
}

.footer-links, .footer-social-media {
    display: flex;
    margin-top: 50px;
}

.footer-links {
    column-gap: 65px;    
}

.footer-social-media {
    column-gap: 25px;
    margin-top: 100px;    
}

.footer-links a {
    color: hsl(168, 34%, 41%);
    text-decoration: none;
    font-family: 'Barlow', sans-serif;
    font-size: 0.8em;
}

.footer-logo {
    fill: #458c7e;
    width: 50%;
}